@import "tailwindcss";

* {
    transition: background-color 0.3s ease, color 0.3s ease;
}
html,
body,
#root {
    margin: 0;
    padding: 0;
}

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.main-content {
    flex: 1;
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
}
